ul.segmented-controller
  each eventlist, i in data
    - var c = i === 0 ? 'active' : ''
    - var link = eventlist.header.toLowerCase().replace(/\s+/g, '-')
    li(class='list-divider #{c}')
      a(href='##{link}')= eventlist.header

ul.inset.list
  each eventlist, i in data
    - var c = i === 0 ? 'active' : ''
    - var link = eventlist.header.toLowerCase().replace(/\s+/g, '-')
    li(id='#{link}', class='segmented-controller-item #{c}')
      ul.list
        each event in eventlist.events
          li
            - var date = (eventlist.header == 'Today') ? event.start.time : event.start.shortdate;
            a(href='event/#{event._id}', data-transition='slide-in', data-guid='#{event.guid}')
              span.eventlabel #{event.summary}
              span.chevron
              span.count= date
