doctype 5
//if lt IE 7
    html.no-js.ie6.oldie
//if IE 7
    html.no-js.ie7.oldie
//if IE 8
    html.no-js.ie8.oldie
// [if gt IE 8] <!
html.no-js
    // <![endif]

    head
        title= title
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

        // Sets initial viewport load and disables zooming
        //- meta(name='viewport', content='width=device-width')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')

        // Makes your prototype chrome-less once bookmarked to your phone's home screen
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')

        // Set Apple icons for when prototype is saved to home screen
        link(rel='apple-touch-icon-precomposed', sizes='114x114', href='touch-icons/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='touch-icons/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon-precomposed', sizes='57x57', href='touch-icons/apple-touch-icon-57x57.png')

        // Include the compiled Ratchet CSS
        link(rel='stylesheet', href='/stylesheets/ratchet.css')

        // Include the compiled Ratchet CSS
        link(rel='stylesheet', href='/stylesheets/pickadate.inline-fixed.css')

        // Include the compiled Ratchet JS
        script(src='/javascripts/vendor/ratchet.js')

        link(rel='stylesheet', href='/stylesheets/style.css')

        block head

    body
        header.bar-title
            a(href='#infoPanel')
                img#logo(src='/img/altlogo.png')
        .content
            .content-padded
                block content

        #infoPanel.popover
            header.popover-header
                h3.title Duke Arts Mobile
            ul.list
                li.list-divider About
                li
                  | Duke Arts is a project created by students in Professor
                  | Szabo's ISIS 495S class during Spring 2013
                li.list-divider Members
                li Aaron Rales
                li Amrita Dixit
                li Angie Yu
                li Ann Niou
                li Austin Benesh
                li Jacqueline Sun
                li Jonathan Zhang
                li Karen He
                li Kate Scholick
                li Lex Butler
                li Ross Tucker
                li Wynne Lok
                li Yang Su

            a.button-block.button-main(href='http://arts.duke.edu/') Duke Arts Website
            a.button-block.button-positive(href='mailto:suyang1@gmail.com') Contact Us

        nav.bar-tab
                ul.tab-inner
                    - var path = arguments[0].path || 'events'
                    - var eventsActive = (path == 'events') ? 'active' : ''
                    - var calendarActive = (path == 'calendar') ? 'active' : ''
                    - var aroundmeActive = (path == 'aroundme') ? 'active' : ''
                    - var venuesActive = (path == 'venues') ? 'active' : ''
                    - var orgsActive = (path == 'orgs') ? 'active' : ''
                    - var galleriesActive = (path == 'galleries') ? 'active' : ''
                    li.tab-item(class='#{eventsActive}')
                        a(href='/')
                            img.tab-icon(src='/img/icon-events.png')
                            .tab-label Events
                    li.tab-item(class='#{venuesActive}')
                        a(href='/venues')
                            img.tab-icon(src='/img/icon-venues.png')
                            .tab-label Venues
                    li.tab-item(class='#{galleriesActive}')
                        a(href='/galleries')
                            img.tab-icon(src='/img/icon-galleries.png')
                            .tab-label Galleries
                    li.tab-item(class='#{orgsActive}')
                        a(href='/orgs')
                            img.tab-icon(src='/img/icon-orgs.png')
                            .tab-label Groups
                    li.tab-item(class='#{aroundmeActive}')
                        a(href='/aroundme')
                            img.tab-icon(src='/img/icon-around.png')
                            .tab-label Around Me
                    li.tab-item(class='#{calendarActive}')
                        a(href='/calendar')
                            img.tab-icon(src='/img/icon-cal.png')
                            .tab-label Calendar
        //if lt IE 7
            p.chromeframe
                | You are using an outdated browser.
                a(href='http://browsehappy.com/') Upgrade your browser today
                | or
                a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
                | to better experience this site.

        script(src='/javascripts/vendor/jquery.min.js')
        script(src='/javascripts/vendor/lodash.min.js')
        script(src='/javascripts/vendor/backbone-min.js')
        script(src='/javascripts/vendor/pickadate.min.js')
        script(src='http://maps.google.com/maps/api/js?sensor=true')
        script(src='/javascripts/vendor/gmaps.js')
        script(src='/javascripts/main.js')
        script(src='/javascripts/calendar.js')
        script(src='/javascripts/aroundme.js')
        script(src='/javascripts/loadmap.js')
        script(src='/javascripts/admin.js')
        script(src='/javascripts/features.js')

        script
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
